// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body#admin-page {
  padding-top: 0px;
}
ul.dropdown-menu.dropdown-user {
  height: auto;
}

.nested-comment {
  margin-top: 50px !important;
}

button#reply-button {
  margin: 10px 0px;
}
.reply-form{
  display: none;
}